.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bodily {
  text-align: center;
  width: 100%;
}

.section1 {
  width: 100%;
  height: 93vh;
  background: url('https://images.unsplash.com/photo-1542834281-7c3973bafe98?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=538edb9ec6165166c523f73a688313ec&auto=format&fit=crop&w=2734&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section1 div {
  padding-top: 65vh;
}

.section2 div{
  margin: 0.5vh auto;
}

.section3 {
  padding: 5vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
